package ${package};

import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.JpaRepository;

import ${packageBase}.entities.${className};

/**
 * @author javadev
 * 
 */
public interface ${className}Repository extends JpaRepository<${className}, Integer> {

}
